.container{
    width: 375px;
    height: 255px;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.white-keys kbd {
    padding: 250px 20px 30px 20px;
    display: inline-block;
    margin-left: -5px;
    align-content: center;
    background-color: white;
    border-style: solid;
    border-color: gray;
    text-align: center;
}
.black-keys kbd{
    padding: 50px 20px 30px 20px;
    display: inline-block;
    margin-left: 5px;
    align-content: center;
    background-color: black;
    border-style: solid;
    border-color: gray;
    text-align: center;
    color: white;
    position: relative;
    bottom: 300px;

}


body{
    background-color: antiquewhite;
}